.g-basic-form {
  position: relative;
  height: 100%;
  overflow: auto;
  .u-form-hd {
    margin-bottom: 5px;
    h3 {
      font-size: 20px;
    }
  }
  .u-form-content {
    width: 100%;
    padding: 20px 0 10px 0;
    background-color: #fff;
  }
}