.App {
  text-align: center;
}
.fishd-layout-content {
  min-height: auto!important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.logo {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: 30px;
  margin-top: 15px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url("../assets/img/FD-Logo.png");
}
.logo-text {
  position: relative;
  top: -8px;
  left: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  white-space:nowrap;
  overflow: hidden;
}
.demo-avator {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.trigger {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 24px;
  cursor: pointer;
}
.demo-setting {
  margin-right: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fishd-layout-has-sider {
  height: 100%;
}

.demo-menu .fishd-menu-item-selected > span > a {
  color: #fff!important;
}
.demo-menu a {
  color: #fff!important;
}
.demo-menu .fishd-menu-item > span > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
